.body {
  padding-top: 70px;
  background: linear-gradient(rgb(251, 251, 251), rgb(255, 255, 255));
}
.filter {
  margin-top: 70px;
}
.filter-reset {
  margin-bottom: 50px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #97aa12;
}
