label {
  display: flex;
  margin: 22px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #2b441d;
}
label input {
  display: none;
}
label span {
  display: inline-block;
  position: relative;
  background-color: #fff;
  padding: 3px;
  min-width: 20px;
  height: 20px;
  border: 1px solid #b4c730;
  box-sizing: border-box;
  margin-right: 15px;
}
[type="checkbox"]:checked + span:before {
  content: url("~@/assets/icons/check-mark.svg");
  position: absolute;
  top: -5px;
  left: 1;
  font-size: 23px;
  color: green;
}
