.filter-dropdown,
.filter_acts {
  font-family: "Lato", sans-serif;
  width: 340px;
  height: fit-content;
  background: #ffffff;
  box-sizing: border-box;
  padding: 25px;
  margin: 10px 0px 10px 0px;
}
.filter_acts {
  padding: 0px;
  border: 1px solid #b4c730;
}
.closed-block {
  border: none;
  background-color: #f8fae3;
}
.opened-block {
  background-color: none;
  border: 1px solid #b4c730;
}
.filter-dropdown_title {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  color: #97aa12;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.filter-dropdown_item {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #959882;
  list-style-type: none;
  margin-top: 10px;
  cursor: pointer;
}

.opened,
.closed-first-line {
  position: absolute;
  width: 1px;
  height: 15px;
  background: #2b441d;
  transform: rotate(-90deg);
}
.closed-second-line {
  position: absolute;
  width: 1px;
  height: 15px;
  background: #2b441d;
}
.filter-colors {
  margin: 0px;
}
@media (max-width: 1024px) {
  .filter-dropdown,
  .filter_acts {
    width: 210px;
    height: fit-content;
    background: #ffffff;
    box-sizing: border-box;
    padding: 15px;
    margin: 10px 0px 10px 0px;
    font-size: 14px;
  }
  .filter-dropdown_title {
    font-size: 14px;
  }
  .closed-second-line,
  .closed-first-line,
  .opened {
    height: 13px;
  }
  .filter_acts {
    label {
      margin: 0px 0px 10px 0px;
    }
  }
  .filter-dropdown_item {
    font-size: 14px;
  }
}
