.footer {
  height: 425px;
  background: #f2f3e4;
  display: flex;
  justify-content: space-around;
  padding: 60px 0 70px;
  width: 100%;
}

.footer-develop {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 210px;
  span {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #2b441d;
    margin-top: 169px;
  }
}
.footer-menu,
.footer-catalog {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  h4 {
    font-family: "Kazimir";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #2b441d;
    margin-bottom: 30px;
  }
  a {
    display: flex;
    text-decoration: none;
    font-family: "Kazimir";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #2b441d;
    margin: 0px 0px 20px 25px;
  }
}

.footer-contact_social-media {
  display: flex;
  flex-direction: column;
  span {
    margin-bottom: 90px;
    border: 1px solid transparent;
    cursor: pointer;
    padding: 17px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  span:hover {
    border: 1px solid #97aa12;
    border-radius: 50%;
  }
}

.footer-contact {
  display: flex;
  flex-direction: column;
  h4 {
    font-family: "Kazimir";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #2b441d;
    margin-bottom: 40px;
  }
  span {
    font-family: Kazimir;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #2b441d;
  }
}

.footer-contact_btn {
  border: 1px solid #97aa12;
  box-sizing: border-box;
  width: 181px;
  height: 52px;
  margin-top: 40px;
  button {
    background: #97aa12;
    width: 171px;
    height: 42px;
    border: none;
    margin: 5px;
    font-family: "Kazimir";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
  }
}

@media (max-width: 720px) {
  .footer {
    height: 207px;
    padding: 20px 0 20px;
    display: flex;
    align-items: center;
    span {
      margin-top: 39px;
    }
  }
  .footer-logo {
    width: 100px;
  }
  .footer-contact_social-media {
    display: flex;
    align-items: center;
    span {
      border: 1px solid #97aa12;
      border-radius: 50%;
      margin-bottom: 0px;
      margin-top: 0px;
      padding: 17px;
      width: 40px;
      height: 40px;
    }
  }
  .footer-contact {
    margin-top: -50px;
    height: 50px;
    h4 {
      font-family: "Kazimir";
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 150%;
      color: #2b441d;
      margin-bottom: 0px;
    }
    span {
      font-size: 12px;
      margin-top: 10px;
    }
  }
  .footer-contact_btn {
    width: 142px;
    margin-top: 31px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      background: #97aa12;
      width: 134px;
      height: 40px;
      margin: 2px;
      font-size: 12px;
    }
  }
  .footer-contact_social-media-icons {
    display: flex;
    span {
      margin-left: 30px;
    }
  }
}
@media (max-width: 400px) {
  .mobile-footer {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding-left: 10px;
    padding-bottom: 30px;
  }
  .mobile-footer-develop {
    display: flex;
    align-items: center;
    justify-content: space-around
  }
  .mobile-footer_contact {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .mobile-footer_social_media {
    margin-top: 20px;
    margin-left: -200px;
    margin-bottom: 20px;
  }
  .footer-develop_description {
    width: 250px;
    font-size: 10px;
    font-family: "Lato", sans-serif;
  }
}
