.mobile-navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 10px 0px 10px;
  align-items: center;
}
.mobile-navbar-icons {
  display: flex;
  justify-content: space-around;
  width: 150px;
}
